/app/*.exe
/base/*.FDB
/src/Classes/__history/*.~1~
/src/Classes/__history/*.~2~
/src/Classes/__history/*.~3~
/src/__history/*.~1~
/src/__history/*.~2~
/src/__history/*.~3~
/src/__history/*.~4~
/src/__history/*.~5~
/src/Win32/Debug/*.dcu
/src/FoodTruck.skincfg
/src/FoodTruck.stat
/firebird.log
/src/Win32
U_DataModule_Library.dfm.~4~
U_DataModule_Library.dfm.~5~
unPadraoRelatorio.dfm.~4~
unPadraoRelatorio.dfm.~5~
unPadraoRelatorio.pas.~4~
unPadraoRelatorio.pas.~5~
unPadraoRelatorio.pas.~6~
/src/__history/FoodTruck.dpr.~6~
/src/__history/FoodTruck.dpr.~7~
/src/__history/FoodTruck.dpr.~8~
/src/__history/FoodTruck.dpr.~9~
unPesquisaProdutoZ.dfm.~6~
unPesquisaProdutoZ.dfm.~7~
unPesquisaProdutoZ.pas.~10~
unPesquisaProdutoZ.pas.~11~
unPesquisaProdutoZ.pas.~12~
unPesquisaProdutoZ.pas.~13~
unPesquisaProdutoZ.pas.~14~
unPesquisaProdutoZ.pas.~6~
unPesquisaProdutoZ.pas.~7~
unPesquisaProdutoZ.pas.~8~
unPesquisaProdutoZ.pas.~9~
/src/__history/*.~10~
/src/__history/*.~11~
/src/__history/*.~12~
/src/__history/*.~13~
/src/__history/*.~14~
/src/__history/*.~15~
/src/Classes/__history/*.~10~
/src/Classes/__history/*.~11~
/src/Classes/__history/*.~4~
/src/Classes/__history/*.~5~
/src/Classes/__history/*.~6~
/src/Classes/__history/*.~7~
/src/Classes/__history/*.~8~
/src/Classes/__history/*.~9~
/src/Classes/__history/*.~12~
/src/Classes/__history/*.~13~
/src/Classes/__history/*.~14~
