/app/*.exe
/base/*.FDB
/src/Classes/__history/*.~1~
/src/Classes/__history/*.~2~
/src/Classes/__history/*.~3~
/src/__history/*.~1~
/src/__history/*.~2~
/src/__history/*.~3~
/src/__history/*.~4~
/src/__history/*.~5~
/src/Win32/Debug/*.dcu
/src/FoodTruck.skincfg
/src/FoodTruck.stat
/firebird.log
/src/Win32
U_DataModule_Library.dfm.~4~
U_DataModule_Library.dfm.~5~
unPadraoRelatorio.dfm.~4~
unPadraoRelatorio.dfm.~5~
unPadraoRelatorio.pas.~4~
unPadraoRelatorio.pas.~5~
unPadraoRelatorio.pas.~6~
/src/__history/FoodTruck.dpr.~6~
/src/__history/FoodTruck.dpr.~7~
/src/__history/FoodTruck.dpr.~8~
/src/__history/FoodTruck.dpr.~9~
unPesquisaProdutoZ.dfm.~6~
unPesquisaProdutoZ.dfm.~7~
unPesquisaProdutoZ.pas.~10~
unPesquisaProdutoZ.pas.~11~
unPesquisaProdutoZ.pas.~12~
unPesquisaProdutoZ.pas.~13~
unPesquisaProdutoZ.pas.~14~
unPesquisaProdutoZ.pas.~6~
unPesquisaProdutoZ.pas.~7~
unPesquisaProdutoZ.pas.~8~
unPesquisaProdutoZ.pas.~9~
/src/__history/*.~10~
/src/__history/*.~11~
/src/__history/*.~12~
/src/__history/*.~13~
/src/__history/*.~14~
/src/__history/*.~15~
/src/Classes/__history/*.~10~
/src/Classes/__history/*.~11~
/src/Classes/__history/*.~4~
/src/Classes/__history/*.~5~
/src/Classes/__history/*.~6~
/src/Classes/__history/*.~7~
/src/Classes/__history/*.~8~
/src/Classes/__history/*.~9~
/src/Classes/__history/*.~12~
/src/Classes/__history/*.~13~
/src/Classes/__history/*.~14~
unPadraoPesquisas.dfm.~17~
unPadraoPesquisas.dfm.~18~
unPadraoPesquisas.dfm.~19~
unPadraoPesquisas.dfm.~20~
unPadraoPesquisas.dfm.~21~
unPadraoPesquisas.dfm.~22~
unPadraoPesquisas.dfm.~23~
unPadraoPesquisas.dfm.~24~
unPadraoPesquisas.dfm.~25~
unPadraoPesquisas.dfm.~26~
unPadraoPesquisas.pas.~16~
unPadraoPesquisas.pas.~17~
unPadraoPesquisas.pas.~18~
unPadraoPesquisas.pas.~19~
unPadraoPesquisas.pas.~20~
unPadraoPesquisas.pas.~21~
unPadraoPesquisas.pas.~22~
unPadraoPesquisas.pas.~23~
unPadraoPesquisas.pas.~24~
unPadraoPesquisas.pas.~25~
FoodTruck.dpr.~16~
FoodTruck.dpr.~17~
FoodTruck.dpr.~18~
FoodTruck.dpr.~19~
FoodTruck.dpr.~20~
FoodTruck.dpr.~21~
FoodTruck.dpr.~22~
FoodTruck.dpr.~23~
FoodTruck.dpr.~24~
unMenu.pas.~6~
unMenu.pas.~7~
unMenu.pas.~8~
unPedido.dfm.~6~
unPedido.dfm.~7~
unPedido.dfm.~8~
unPedido.pas.~16~
unPedido.pas.~17~
unPedido.pas.~18~
unPedido.pas.~9~
unPedidos.dfm.~6~
unPedidos.dfm.~7~
unPedidos.dfm.~8~
unPedidos.pas.~16~
unPedidos.pas.~17~
unPedidos.pas.~18~
unPedidos.pas.~9~
unPesquisaProdutoZ.dfm.~16~
unPesquisaProdutoZ.dfm.~17~
unPesquisaProdutoZ.dfm.~8~
unPesquisaProdutoZ.dfm.~9~
unPesquisaProdutoZ.pas.~16~
unPesquisaProdutoZ.pas.~17~
unPesquisaProdutoZ.pas.~18~
unPesquisaProdutoZ.pas.~19~
unPesquisaProdutoZ.pas.~20~
unPesquisaProdutoZ.pas.~21~
unPesquisaProdutoZ.pas.~22~
unPesquisaProdutoZ.pas.~23~
unRelPedidos.dfm.~6~
unRelPedidos.dfm.~7~
unRelPedidos.dfm.~8~
unRelPedidos.dfm.~9~
unRelPedidos.pas.~6~
unRelPedidos.pas.~7~
unRelPedidos.pas.~8~
unRelPedidos.pas.~9~
unRelatorioPedido.dfm.~6~
unRelatorioPedido.dfm.~7~
unRelatorioPedido.pas.~6~
unRelatorioPedido.pas.~7~
unRelatorioPedido.pas.~8~
unRotinas.pas.~6~
unRotinas.pas.~7~
unRotinas.pas.~8~
unRotinas.pas.~9~
__history
